<ion-view>
    <div class="row">

        <div class="col">
            <div ng-repeat="letter in vm.verticalLetters | limitTo:5">
                <img ng-src="{{letter.src}}" id={{letter.id}} class={{letter.class}} ng-drag="true" ng-drag-data="letter" ng-drag-success="onDragComplete($data,$event)" ng-center-anchor="true" ng-click="vm.ngTouchTest(letter)">
            </div>
        </div>

        <div class="col-75 puzzle-body">
            <div class="row">
                <img id="a1-target" 
                     src="assets/images/a_pic.png" 
                     class="bin" ng-drop="true" 
                     ng-drop-success="onDropComplete('a1',$data,$event); touched('a1')" 
                     target="a1" 
                     ng-if="matched !== 'a1' && touched(a1) !== false">
                <img id="a1-target" 
                     src="assets/images/a_color.png" 
                     class="bin" ng-drop="true" 
                     ng-drop-success="onDropComplete('a1',$data,$event); touched('a1')" 
                     target="a1" 
                     ng-if="matched == 'a1' || touched(a1) == true">
                <img id="b1-target" 
                     src="assets/images/b_pic.png" 
                     class="bin" target="b1" 
                     ng-drop="true" 
                     ng-drop-success="onDropComplete('b1',$data,$event); touched('b1')" 
                     target="b1" 
                     ng-if="matched !== 'b1' && touched(b1) !== false">
                <img id="b1-target" 
                      src="assets/images/b_color.png" 
                      class="bin" target="b1" 
                      ng-drop="true" 
                      ng-drop-success="onDropComplete('b1',$data,$event); touched('b1)" 
                      target="b1" 
                      ng-if="matched == 'b1' || touched(a1) == true ">
                <img id="c1-target" 
                     src="assets/images/c_pic.png" 
                    class="bin" 
                    ng-drop="true" 
                    ng-drop-success="onDropComplete('c1',$data,$event)" 
                    target="c1" 
                    ng-if="matched !== 'c1' && touched(c1) !== false">
                <img id="c1-target" 
                     src="assets/images/c_color.png" 
                     class="bin" 
                     ng-drop="true" 
                     ng-drop-success="onDropComplete('c1',$data,$event)" 
                     target="c1" 
                     ng-if="matched === 'c1' || touched(c1) == true">
                <img id="d1-target" src="assets/images/d_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('d1',$data,$event)" target="d1">
                <img id="e1-target" src="assets/images/e_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('e1',$data,$event)" target="e1">
                <img id="f1-target" src="assets/images/f_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('f1',$data,$event)" target="f1">
                <img id="g1-target" src="assets/images/g_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('g1',$data,$event)" target="g1">
            </div>
            <div class="row">
                <img id="h1-target" src="assets/images/h_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('h1',$data,$event)" target="h1">
                <img id="i1-target" src="assets/images/i_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('i1',$data,$event)" target="i1">
                <img id="j1-target" src="assets/images/j_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('j1',$data,$event)" target="j1">
                <img id="k1-target" src="assets/images/k_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('k1',$data,$event)" target="k1">
                <img id="l1-target" src="assets/images/l_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('l1',$data,$event)" target="l1">
                <img id="m1-target" src="assets/images/m_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('m1',$data,$event)" target="m1">
                <img id="n1-target" src="assets/images/n_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('n1',$data,$event)" target="n1">
            </div>
            <div class="row">
                <img id="o1-target" src="assets/images/o_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('o1',$data,$event)" target="o1">
                <img id="p1-target" src="assets/images/p_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('p1',$data,$event)" target="p1">
                <img id="q1-target" src="assets/images/q_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('q1',$data,$event)" target="q1">
                <img id="r1-target" src="assets/images/r_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('r1',$data,$event)" target="r1">
                <img id="s1-target" src="assets/images/s_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('s1',$data,$event)" target="s1">
                <img id="t1-target" src="assets/images/t_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('t1',$data,$event)" target="t1">
            </div>
            <div class="row">
                <img id="u1-target" src="assets/images/u_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('u1',$data,$event)" target="u1">
                <img id="v1-target" src="assets/images/v_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('v1',$data,$event)" target="v1">
                <img id="w1-target" src="assets/images/w_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('w1',$data,$event)" target="w1">
                <img id="x1-target" src="assets/images/x_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('x1',$data,$event)" target="x1">
                <img id="y1-target" src="assets/images/y_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('y1',$data,$event)" target="y1">
                <img id="z1-target" src="assets/images/z_pic.png" class="bin" ng-drop="true" ng-drop-success="onDropComplete('z1',$data,$event)" target="z1">
            </div>
        </div>
    </div>

</ion-view>